<!-- 
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <ul class="nav justify-content-start" >
            <li class="nav-item" routerLinkActive="active">
              <a  class="nav-link navbar-brand" href="#">Home</a>
            </li>
          </ul>

      <ul class="nav justify-content-end">
        <li class="nav-item" routerLinkActive="active">
            <a  class="nav-link navbar-brand" >Hello, Namdev!</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="../login" class="nav-link navbar-brand" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
</nav> -->


<header class="navbar ">
  <a class="home navbar-brand" href="#">Home</a>
  <div class="nav-item">
      <span style="text-decoration: none;" class=" navbar-text navbar-brand ">Hi, Namdev !</span>
      <a class="nav-item-logout navbar-brand " (click)="logout()">Logout</a>
  </div>
</header>
