<app-header></app-header>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a class="btn1" mat-tab-link routerLink="/profile/1/summary">User Details</a>
  <a class="btn1" mat-tab-link routerLink="/profile/1/albums">User Albums</a>
  <a class="btn1" mat-tab-link routerLink="/profile/1/posts">Posts</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div>
  <p class="albumtitle">Posts</p> 
  <div class="content">
    <h1>It was a good day</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <h1>Meh</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<div>
<app-footer></app-footer>