<app-header></app-header>
<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a class="btn1" mat-tab-link routerLink="/profile/1/summary">User Details</a>
  <a class="btn1" mat-tab-link routerLink="/profile/1/albums">User Albums</a>
  <a class="btn1" mat-tab-link routerLink="/profile/1/posts">Posts</a>
  </nav>
  <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
<div>
  <p class="albumtitle">Albums</p>
  <!-- <pre>{{data|json}}</pre> -->
 
  <div class="content">
    <img class="img1" src="./../assets/images/img1.jpg" alt="" class="img">
    <img class="img2" src="./../assets/images/img2.jpg" alt="" class="img">
  </div>

</div>
<div>
<app-footer></app-footer>