<div class="container">
  <form class="form-login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2 class="form-login-heading text-center">Social Grove !</h2>
      <label for="username" >Email Address</label>
      <input type="text" formControlName="email" class="form-control" placeholder="Enter Email Id" name="username" required="" formControlName="email"/>
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" placeholder="Enter Password" name="password" required="" formControlName="password"/>
      <input type="submit" class="btn btn-primary" value="Login" />
  </form>
</div>